@font-face {
  font-family: 'Poppins';
  src: url(Poppins-Thin.ttf) format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: 'Poppins';
  src: url(Poppins-ExtraLight.ttf) format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: 'Poppins';
  src: url(Poppins-Light.ttf) format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: 'Poppins';
  src: url(Poppins-Regular.ttf) format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: 'Poppins';
  src: url(Poppins-Medium.ttf) format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: 'Poppins';
  src: url(Poppins-SemiBold.ttf) format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url(Poppins-Bold.ttf) format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url(Poppins-ExtraBold.ttf) format('truetype');
  font-weight: 800;
}
