{
  "bracketSameLine": true,
  "endOfLine": "lf",
  "jsonRecursiveSort": true,
  "jsonSortOrder": "{\"*\": \"lexical\"}",
  "plugins": ["prettier-plugin-sort-json"],
  "printWidth": 120,
  "semi": false,
  "singleQuote": true,
  "trailingComma": "none"
}
