.markdown {
  color: #f1f1f1;
  font-size: 16px;
  line-height: 1.6;
  user-select: text;

  p:last-child {
    margin-bottom: 5px;
  }

  p:first-of-type {
    margin-top: 0;
  }

  h1:first-of-type,
  h2:first-of-type,
  h3:first-of-type,
  h4:first-of-type,
  h5:first-of-type,
  h6:first-of-type {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0 1em 0;
    font-weight: 800;
  }

  h1 {
    font-size: 2em;
    color: #fff;
  }

  h2 {
    font-size: 1.5em;
    color: #fff;
  }

  h3 {
    font-size: 1.2em;
    color: #fff;
  }

  h4 {
    font-size: 1em;
    color: #fff;
  }

  h5 {
    font-size: 0.9em;
    color: #fff;
  }

  h6 {
    font-size: 0.8em;
    color: #fff;
  }

  p {
    margin: 1em 0;
    color: #fff;
  }

  ul,
  ol {
    padding-left: 1.5em;
    margin: 1em 0;
    color: #ccc;
  }

  li {
    margin-bottom: 0.5em;
  }

  hr {
    border: none;
    border-top: 1px solid #555;
    margin: 20px 0;
    background-color: #555;
  }

  span {
    word-break: break-all;
  }
}
