.markdown {
  color: var(--color-text);
  font-size: 15px;
  line-height: 1.6;
  user-select: text;

  p:last-child {
    margin-bottom: 5px;
  }

  p:first-child {
    margin-top: 0;
  }

  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 1em 0 1em 0;
    font-weight: 800;
  }

  h1 {
    font-size: 2em;
    border-bottom: 0.5px solid var(--color-border);
    padding-bottom: 0.3em;
  }

  h2 {
    font-size: 1.5em;
    border-bottom: 0.5px solid var(--color-border);
    padding-bottom: 0.3em;
  }

  h3 {
    font-size: 1.2em;
  }

  h4 {
    font-size: 1em;
  }

  h5 {
    font-size: 0.9em;
  }

  h6 {
    font-size: 0.8em;
  }

  p {
    margin: 1em 0;
  }

  ul,
  ol {
    padding-left: 1.5em;
    margin: 1em 0;
  }

  li {
    margin-bottom: 0.5em;
  }

  li > ul,
  li > ol {
    margin: 0.5em 0;
  }

  hr {
    border: none;
    border-top: 0.5px solid var(--color-border);
    margin: 20px 0;
    background-color: var(--color-border);
  }

  span {
    word-break: break-all;
  }

  code {
    white-space: pre-wrap;
    font-family: 'Courier New', Courier, monospace;
  }

  p code {
    background: var(--color-background-mute);
    padding: 3px 5px;
    border-radius: 5px;
  }

  pre {
    white-space: pre-wrap;
    padding: 1em;
    border-radius: 5px;
    overflow-x: auto;
    pre {
      margin: 0 !important;
    }
    code {
      background: none;
      padding: 0;
      border-radius: 0;
    }
  }

  blockquote {
    margin: 1em 0;
    padding-left: 1em;
    color: var(--color-text-light);
    border-left: 4px solid var(--color-border);
  }

  table {
    border-collapse: collapse;
    margin: 1em 0;
    width: 100%;
  }

  th,
  td {
    border: 0.5px solid var(--color-border);
    padding: 0.5em;
  }

  th {
    background-color: var(--color-background-mute);
    font-weight: bold;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    color: var(--color-primary);
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }

  strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  del {
    text-decoration: line-through;
  }

  sup,
  sub {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
  }

  sup {
    top: -0.5em;
  }

  sub {
    bottom: -0.25em;
  }
}
