name: Pull Request CI

permissions:
  contents: read

on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
      - develop
      - v2
    types: [ready_for_review, synchronize, opened]

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PRCI: true
    if: github.event.pull_request.draft == false

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v5

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 22

      - name: Install corepack
        run: corepack enable && corepack prepare yarn@4.9.1 --activate

      - name: Get yarn cache directory path
        id: yarn-cache-dir-path
        run: echo "dir=$(yarn config get cacheFolder)" >> $GITHUB_OUTPUT

      - name: Cache yarn dependencies
        uses: actions/cache@v4
        with:
          path: |
            ${{ steps.yarn-cache-dir-path.outputs.dir }}
            node_modules
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-yarn-

      - name: Install Dependencies
        run: yarn install

      - name: Lint Check
        run: yarn test:lint

      - name: Format Check
        run: yarn format:check

      - name: Type Check
        run: yarn typecheck

      - name: i18n Check
        run: yarn check:i18n

      - name: Test
        run: yarn test
